.box {
    display: block;
    width: 45%;
    height: 14%;

    font-size: x-large;

    margin: 10px;

    background-color: white;
    color: black;
}

.second-slide {
    display: flex !important;
    gap: 36px;
    font-size: 35px;
}

.second-slide img {

    object-fit: cover;
}

.second-slide ul {
    padding-left: 16px;
}

.second-slide li {
    font-size: 18px;
    margin-top: 10px;
    color: rgba(72, 56, 56, 0.75);
}

.forth-slide {
    display: flex !important;
    gap: 36px;
    justify-content: space-between;

}

.forth-slide img {
    object-fit: contain;
    width: 500px;
    height: 400px;

}

.forth-slide p {
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-left: 36px;
}

.forth-slide li {
    list-style-type: decimal;
    font-size: 20px;
    margin-top: 12px;
    padding: 8px;
    border-radius: 8px;
}

.fifth-slide div {
    width: 100%;
    text-align: left;
    font-size: 20px;
}

.fifth-slide li {
    margin-top: 12px;
}

.sixth-slide ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.sixth-slide li {
    font-size: 16px;
    margin-top: 12px;
    list-style-type: none;
    width: 25%;
    padding: 16px;
    border-radius: 8px;
    background-color: rgba(202, 163, 122, 0.62);
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seventh-slide li {
    font-size: 20px;
    margin-top: 12px;
}

.eighth-slide ul {
    display: flex;
    gap: 24px;
}

.eighth-slide li {
    list-style-type: none;
    width: 30%;
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
    background-color: rgba(202, 163, 122, 0.62);
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reveal .slides section .fragment.highlight-current-blue.current-fragment {
    transform: scale(1.05);
    color: #5a2906;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05), 0 -5px 5px rgba(0, 0, 0, 0.05), 5px 0 5px rgba(0, 0, 0, 0.05), -5px 0 5px rgba(0, 0, 0, 0.05);

}

.ninth-slide > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
.ninth-slide > div > div {
    width: 100%;
    font-size: 14px;
    background-color: #F9DCDD;
    padding: 16px;
    border-radius: 8px;

}
.ninth-slide > div > div p {
   font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;

}
.ninth-slide > div > div span {
   font-size: 14px;

}
.ninth-slide > div > div:nth-of-type(1) {
    width: 100%;
    background-color: #F9DCDD;
}
.ninth-slide > div > div:nth-of-type(2) {
    width: 100%;
    background-color: #D0D4BF;
}
.ninth-slide > div > div:nth-of-type(3) {
    width: 100%;
    background-color: #FED7B2;
}

.ninth-slide img {
    width: 500px;
}

.eleventh-slide li {
    list-style-type: decimal;
    font-size: 20px;
    margin-top: 12px;
    padding: 8px;
    border-radius: 8px;
}

.twelfth-slide p {
    padding-left: 16px;
    border-left: 20px solid #3a2112;
}

.twelfth-slide p span {
    color: #8b5c40;
}